* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: hidden;
}

#root {
  overflow: scroll;
}

canvas {
  height: 100vh;
  width: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #535353;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #535353;
}
